@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.auth2 {
  position: relative;
  min-height: 100dvh;
  display: grid;
  align-items: center;
  background: linear-gradient(
    135deg,
    var(--color-purple),
    var(--color-purple-lighten)
  );
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
}

.auth2__form {
  min-height: 460px;
  position: relative;
  margin-inline: 1rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid var(--border-color);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
}

.auth2__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.auth2__inputs,
.auth2__box {
  display: grid;
}

.auth2__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.auth2__box {
  grid-template-columns: 1fr max-content;
  column-gap: 0.75rem;
  align-items: center;
  border: 2px solid var(--border-color);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.auth2__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
}

.auth2__input::placeholder {
  color: var(--white-color);
}

.auth2__box i {
  font-size: 1.25rem;
}

.auth2__check,
.auth2__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth2__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.auth2__check-box {
  column-gap: 0.5rem;
}

.auth2__check-input {
  width: 16px;
  height: 16px;
  /* accent-color: var(--white-color); */
}

.auth2__check-label {
  max-width: 80px;
}

.auth2__forgot {
  color: var(--white-color);
  cursor: pointer;
  max-width: 100px;
  display: inline-block;
  text-align: right;
}

.auth2__forgot:hover {
  text-decoration: underline;
}

.auth2__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
}

.auth2__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.auth2__register a {
  color: var(--black-color);
  font-weight: var(--font-medium);
}

.auth2__register a:hover {
  text-decoration: underline;
}

/* Responsive */
@media screen and (min-width: 476px) {
  .auth2__check-label {
    max-width: none;
  }

  .auth2__forgot {
    max-width: none;
    display: inline;
  }
}

@media screen and (min-width: 576px) {
  .auth2 {
    justify-content: center;
  }

  .auth2__form {
    width: 420px;
    padding-inline: 2.5rem;
  }

  .auth2__title {
    margin-bottom: 2rem;
  }
}
