@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.auth1 {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  background: linear-gradient(
    135deg,
    var(--color-blue),
    var(--color-blue-lighten)
  );
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
}

.auth1__form {
  min-height: 522px;
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  margin-inline: 0.75rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
}

.auth1__title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}

.auth1__content,
.auth1__box {
  display: grid;
}

.auth1__content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}

.auth1__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid var(--white-color);
  position: relative;
}

.auth1__icon,
.auth1__eye {
  font-size: 1.25rem;
}

.auth1__input {
  width: 100%;
  padding-block: 0.9rem;
  background: none;
  color: var(--white-color);
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
  position: relative;
  z-index: 1;
}

.auth1__box-input {
  position: relative;
}

.auth1__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}

.auth1__eye {
  position: absolute;
  right: 0;
  top: 13px;
  z-index: 10;
  cursor: pointer;
}

.auth1__box:nth-child(2) input {
  padding-right: 1.8rem;
}

.auth1__check,
.auth1__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth1__check {
  margin-bottom: 1.5rem;
}

.auth1__check-label,
.auth1__forgot,
.auth1__register {
  font-size: var(--small-font-size);
}

.auth1__check-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.auth1__check-input {
  width: 16px;
  height: 16px;
  accent-color: var(--white-color);
}

.auth1__check-label {
  max-width: 80px;
}

.auth1__forgot {
  color: var(--white-color);
  cursor: pointer;
  max-width: 100px;
  display: inline-block;
  text-align: right;
}

.auth1__forgot:hover {
  text-decoration: underline;
}

.auth1__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
  color: var(--black-color);
}

.auth1__register {
  text-align: center;
}

.auth1__register a {
  color: var(--black-color);
  font-weight: var(--font-medium);
}

.auth1__register a:hover {
  text-decoration: underline;
}

/* Input focus animation */
.auth1__input:focus + .auth1__label,
.auth1__input:not(:placeholder-shown).auth1__input:not(:focus) + .auth1__label {
  top: -12px;
  font-size: var(--small-font-size);
}

/* Responsive */
@media screen and (min-width: 476px) {
  .auth1__check-label {
    max-width: none;
  }

  .auth1__forgot {
    max-width: none;
    display: inline;
  }
}

@media screen and (min-width: 576px) {
  .auth1 {
    justify-content: center;
  }

  .auth1__form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }

  .auth1__title {
    font-size: 2rem;
  }
}
