@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --title-color-auth3: hsl(244, 12%, 12%);
  --text-color-auth3: hsl(244, 4%, 36%);
}

.auth3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    var(--color-orange),
    var(--color-orange-lighten)
  );
  font-family: var(--font-family);
  color: var(--text-color-auth3);
  padding: 1rem;
}

.auth3 .login__content,
.auth3 .login__form,
.auth3 .login__inputs {
  display: grid;
}

.auth3 .login__content {
  width: 100%;
  max-width: 450px;
}

.auth3 .login__form {
  min-height: 523px;
  background-color: hsla(244, 16%, 92%, 0.6);
  border: 2px solid hsla(244, 16%, 92%, 0.75);
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
}

.auth3 .login__title {
  color: var(--title-color-auth3);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.auth3 .login__title span {
  color: var(--color-orange);
}

.auth3 .login__description {
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
}

.auth3 .login__inputs {
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.auth3 .login__label {
  display: block;
  color: var(--title-color-auth3);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}

.auth3 .login__input {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color-auth3);
  background-color: hsla(244, 16%, 92%, 0.6);
  color: var(--title-color-auth3);
  font-size: var(--smaller-font-size);
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  transition: border 0.4s;
}

.auth3 .login__input::placeholder {
  color: var(--text-color-auth3);
}

.auth3 .login__input:focus,
.auth3 .login__input:valid {
  border: 2px solid var(--color-orange);
}

.auth3 .login__box {
  position: relative;
}

.auth3 .login__box .login__input {
  padding-right: 36px;
}

.auth3 .login__eye {
  width: max-content;
  height: max-content;
  position: absolute;
  right: 0.75rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 1.25rem;
  cursor: pointer;
}

.auth3 .login__check {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.auth3 .login__check-input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color-auth3);
  background-color: hsla(244, 16%, 92%, 0.2);
  border-radius: 0.25rem;
}

.auth3 .login__check-input:checked {
  background: var(--color-orange);
}

.auth3 .login__check-input:checked::before {
  content: "✔";
  display: block;
  color: #fff;
  font-size: 0.75rem;
  transform: translate(1.5px, -2.5px);
}

.auth3 .login__check-label {
  font-size: var(--small-font-size);
}

.auth3 .login__buttons {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.auth3 .login__button {
  flex: 1;
  padding: 14px 2rem;
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    var(--color-orange),
    var(--color-orange-light)
  );
  color: #fff;
  font-family: var(--font-family);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  /* box-shadow: 0 6px 24px hsla(20, 95%, 50%, 0.5); */
  margin-bottom: 1rem;
  cursor: pointer;
}

.auth3 .login__button-ghost {
  background: hsla(244, 16%, 92%, 0.6);
  border: 2px solid var(--color-orange);
  color: var(--color-orange);
  box-shadow: none;
}

.auth3 .login__forgot {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--color-orange);
  text-decoration: none;
}

.auth3 .login__forgot:hover {
  text-decoration: underline;
}

@media screen and (max-width: 360px) {
  .auth3 .login__form {
    min-height: 620px;
  }
  .auth3 .login__buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) {
  .auth3 .login__form {
    max-width: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .auth3 .login__form {
    min-height: 550px;
  }
  .auth3 .login__title {
    font-size: 1.75rem;
  }
  .auth3 .login__description,
  .auth3 .login__label,
  .auth3 .login__button {
    font-size: 1rem;
  }
  .auth3 .login__description,
  .auth3 .login__label,
  .auth3 .login__check-label,
  .auth3 .login__button,
  .auth3 .login__forgot {
    font-size: 0.875rem;
  }
  .auth3 .login__input {
    font-size: 0.813rem;
  }
}

@media screen and (min-width: 1200px) {
  .auth3 .login__form {
    min-height: 655px;
    row-gap: 2rem;
    padding: 3rem;
    border-radius: 1.25rem;
    border: 2.5px solid hsla(244, 16%, 92%, 0.75);
  }

  .auth3 .login__description,
  .auth3 .login__label,
  .auth3 .login__button {
    font-size: var(--normal-font-size);
  }

  .auth3 .login__inputs {
    row-gap: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .auth3 .login__input {
    border: 2.5px solid var(--text-color-auth3);
    padding: 1rem;
    font-size: var(--small-font-size);
  }

  .auth3 .login__input:focus,
  .auth3 .login__input:valid {
    border: 2.5px solid var(--color-orange);
  }

  .auth3 .login__button {
    padding-block: 1rem;
    margin-bottom: 1.25rem;
  }

  .auth3 .login__button-ghost {
    border: 2.5px solid var(--color-orange);
  }
}
