@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

.auth5 {
  padding: 1rem 0.5rem;
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(
    135deg,
    var(--color-red-light),
    var(--color-red-lighten)
  );
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
}

.form__container {
  background-color: var(--color-text);
  padding: 1rem;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.form__container h1 {
  text-align: center;
  margin-bottom: 0.75rem;
  color: var(--color-red);
}

.form__inner {
  display: flex;
  flex-direction: column;
}

.login {
  flex-direction: column !important;
  gap: 0 !important;
}

.form__inner article {
  margin-top: 0.75rem;
}

.form__container label {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 0.4rem;
  color: var(--color-red-light);
}

.form__container input {
  border: 2px solid var(--color-red-lighten);
  border-radius: 0.6rem;
  outline: none;
  padding: 0.625rem 1.25rem;
  width: 100%;
  font-family: var(--font-family);
}

.form__container input:focus {
  border: 2px solid var(--color-red);
}

.form__btn {
  padding: 0.625rem 3rem;
  font-size: 1rem;
  background: linear-gradient(180deg, var(--color-red), var(--color-red-light));
  color: var(--white-color);
  margin-top: 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.625rem;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}

.form__btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.form__checkboxes {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 1rem 0 0.5rem 0;
}

.form__checkboxes small {
  color: var(--color-red-lighten);
}

.checkbox {
  display: none;
}

.label {
  position: relative;
  background-color: var(--white-color);
  border-radius: 50px;
  border: 1px solid var(--color-red-lighten);
  margin: 0 1.25rem 0 0;
  width: 50px;
  height: 26px;
  cursor: pointer;
}

.ball {
  background-color: var(--color-red);
  position: absolute;
  top: 1.5px;
  left: 2px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  transition: transform 0.15s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(22.5px);
}

.form__switch {
  margin-top: 1rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--color-red-light);
}

.form__switch span {
  font-weight: 600;
  color: var(--color-red);
  cursor: pointer;
}

.form__switch span:hover {
  text-decoration: underline;
}

@media (min-width: 465px) {
  .auth5 {
    padding: 2rem 1rem;
  }

  .form__container {
    padding: 2rem;
    min-height: 645px;
    min-width: 425px;
    width: auto;
    height: auto;
  }
}

@media (min-width: 700px) {
  .auth5 {
    min-height: auto;
  }

  .form__container {
    min-height: 520px;
    min-width: 506px;
  }

  .form__container h1 {
    margin-bottom: 2rem;
  }

  .form__inner {
    flex-direction: row;
    gap: 1.25rem;
  }

  .form__inner article {
    flex: 1;
    margin-top: 1.25rem;
  }
}
